#define WIFI_SSID {"ssid1", "ssid2"}
#define WIFI_PASSWD {"password1", "password2"}

#define MQTT_HOST "host"
#define MQTT_PORT 8883
#define MQTT_USERNAME "username"
#define MQTT_PASSWORD "password"
#define MQTT_CERT_FINGERPRINT "sha1_fingerprint"
#define MQTT_CA_CERT \
     "-----BEGIN CERTIFICATE-----\n" \
     ".../\n" \
     "...\n" \
     "-----END CERTIFICATE-----\n"